img {
    outline: 0 !important;
}

#title {
    text-align: center;
}

#calendarContainer {
    text-align: center;
}
.dayHeader {
    text-align: center;
}

.streamContainer {
    border: 4px solid var(--main-bg-color);
    background-color: black;
    max-width: 800px;
    margin: auto;
    margin-bottom: 24px;
    transition: border linear 0.15s, -webkit-filter linear 0.3s;
}
.streamContainer:hover {
    border: 4px solid var(--main-accent-color);
    -webkit-filter: brightness(115%);
    filter: brightness(115%);
}
.clickable {
    text-decoration: none;
}
.topContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.live .topContainer{
    background-color: #300000;
}
.thumbnail {
    flex: 1;
    align-self: center;
    max-width: 300px;
    border: 6px solid black;
}
.live .thumbnail {
    border: 6px solid  #300000;
}
.textContainer {
    flex: 1;
}
.avatar {
    height: 2em;
    vertical-align: middle;
    border-radius: 4em;
    margin-right: 6px;
}
.live .avatar {
    border: red solid 3px;
}
.memberName {
    flex: 1;
    color: white;
    margin: 4px;
}
.liveDot {
    background-color: red;
    height: 14px;
    width: 14px;
    margin-left: 6px;
    display: inline-block;
    border-radius: 14px;
}
.streamTime {
    flex: 1;
    margin: 4px;
    color: var(--main-accent-color);
}
.collabContainer {
    border: 6px solid black;
    border-top: none;
    display: grid;
    grid-auto-rows: 100px;
    gap: 8px;
}
.live .collabContainer {
    border: 6px solid #300000;
    border-top: none;
    background-color: #300000;
}
.collabImg:nth-child(1) { 
    grid-column: 1 / 5; 
}
.collabImg:nth-child(2) { 
    grid-column: 4 / 8;
}
.collabImg:nth-child(3) { 
    grid-column: 7 / 11;
}
.collabImg:nth-child(4) { 
    grid-column: 10 / 14; 
}
.collabImg:nth-child(5) { 
    grid-column: 13 / 17;
}
.collabImg {
    object-fit: cover;
    width: 100%;
    height: 100%;
    grid-row: 1;
    -webkit-clip-path: polygon(25% 0, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0, 100% 0%, 75% 100%, 0% 100%);
    -webkit-filter: brightness(85%);
    filter: brightness(85%);
}
.collabImg:first-child {
    -webkit-clip-path: polygon(0% 0, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0, 100% 0%, 75% 100%, 0% 100%);
}
.collabImg:last-child {
    -webkit-clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0% 100%);
}

.live .streamTime {
    color: red;
}

#liveButton {
    position: fixed;
    right: 12px;
    bottom: 12px;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background-color: red;
    -webkit-filter: drop-shadow(5px 5px 5px #222222);
    filter: drop-shadow(5px 5px 5px #222222);
    cursor: pointer;
    transform: scale(0);
    transform-origin: center center;
    transition: transform 0.2s ease;
}

@media screen and (max-width: 600px) {
    #container {
        margin-top: 8em;
    }
    .thumbnail {
        max-width: 240px;
    }
    .memberName {
        font-size: 1em;
    }
    .live .avatar {
        border: red solid 2px;
    }
    .liveDot {
        height: 12px;
    }
    .collabContainer {
        grid-auto-rows: 75px;
    }
}