#container {
    margin-top: 118px;
}

img {
    outline: 0 !important;
}

#title {
    text-align: center;
}

#calendarContainer {
    text-align: center;
}
.dayHeader {
    font-size: 26px;
    text-align: center;
    padding: 1em 0;
    margin: 0;
    position: sticky;
    top: 118px;
    background-color: var(--main-bg-color);
    z-index: 1;
}

.streamContainer {
    border: 4px solid black;
    background-color: black;
    max-width: 800px;
    margin: auto;
    margin-bottom: 24px;
    transition: border linear 0.15s, -webkit-filter linear 0.3s, filter linear 0.3s;
}
.lightMode .streamContainer {
    border: 4px solid #e2e2e2;
    background-color: #e2e2e2;
}
.live {
    border: 4px solid #300000;
    background-color: #300000;
}
.lightMode .live {
    border: 4px solid #ffbbbb;
    background-color: #ffbbbb;
}
.streamContainer:hover {
    border: 4px solid var(--main-accent-color);
    -webkit-filter: brightness(115%);
    filter: brightness(115%);
}
.lightMode .streamContainer:hover {
    -webkit-filter: brightness(100%) contrast(140%);
    filter: brightness(100%) contrast(140%);
}
.clickable {
    text-decoration: none;
}
.topContainer {
    height: 181px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.thumbnail {
    flex: 1;
    align-self: center;
    max-width: 300px;
    padding: 6px;
}
.textContainer {
    flex: 1;
}
.avatar {
    height: 2em;
    vertical-align: middle;
    border-radius: 4em;
    margin-right: 6px;
}
.live .avatar {
    border: red solid 3px;
}
.memberName {
    flex: 1;
    color: var(--main-text-color);
    margin: 4px;
}
.liveDot {
    background-color: red;
    height: 14px;
    width: 14px;
    margin-left: 6px;
    display: inline-block;
    border-radius: 14px;
}
.streamTime {
    flex: 1;
    margin: 4px;
    color: var(--main-accent-color);
}
.collabContainer {
    padding: 6px;
    padding-top: 0;
    display: grid;
    height: 100px;
    gap: 8px;
}
.collabImg {
    object-fit: cover;
    overflow: auto;
    width: 100%;
    height: 100%;
    grid-row: 1;
    background-color: white;
    -webkit-clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
    clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
    -webkit-filter: brightness(85%);
    filter: brightness(85%);
}
.collabImg:first-child {
    -webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
}
.collabImg:last-child {
    -webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
}
.collabImg:only-child {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.liveDot {
    display: none;
}
.live .liveDot {
    display: inline-block;
}
.live .streamTime {
    color: red;
}

#liveContainer {
    position: fixed;
    color: red;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    bottom: 4px;
    right: 4px;
    margin-top: 6px;
    letter-spacing: 2px;
    -webkit-filter: drop-shadow(4px 4px 4px #222222);
    filter: drop-shadow(4px 4px 4px #222222);
    transform: scale(0);
    transform-origin: center center;
    transition: transform 0.2s ease;
}

#liveContainer.liveInNav {
    position: relative;
}

#liveButton {
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 24px;
    background-color: red;
}

#streamTemplate, #collabTemplate, #dayTemplate {
    display: none;
}

#loadingContainer {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    align-items:center;
    justify-content:center;
    opacity: 60%;
}
#loading {
    vertical-align: middle;
    animation-name: rotate; 
    animation-duration: 0.65s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@media screen and (max-width: 800px) {
    #container {
        margin-top: 106px;
    }
    .dayHeader {
        top: 106px;
        font-size: 24px;
        padding: .5em;
    }
    .topContainer {
        height: 124.5px;
    }
    .thumbnail {
        max-width: 200px;
    }
    .memberName {
        font-size: 1em;
    }
    .live .avatar {
        border: red solid 2px;
    }
    .liveDot {
        height: 12px;
    }
    .collabContainer {
        height: 75px;
    }
}

@media screen and (max-width: 400px) {
    .streamContainer {
        margin-bottom: 12px;
    }
    .topContainer {
        height: 102px;
    }
    .thumbnail {
        max-width: 160px;
    }
    .streamTime {
        font-size: 20px;
    }
    #liveContainer {
        font-size: 32px;
    }
    #liveButton {
        width: 20px;
        height: 20px;
    }
}
