:root {
    --nav-width: 1000px;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--main-bg-color);
    z-index: 1;
}
#navFirst {
    background-color: var(--main-bg-color);
    max-width: var(--nav-width);
    margin: 1.5em auto 0.5em;
    display: flex;
    justify-content: space-between;
    vertical-align: bottom;
}
#logoText {
    font-family: Bebas Neue;
    font-size: 2em;
    letter-spacing: 4px;
    text-decoration: none;
    color: var(--main-accent-color);
    vertical-align: top;
    margin-left: 0.5em;
    text-shadow: -6px 6px black;
    height: 1.5em;
}
#logo {
    height: 60%;
    margin-right: 4px;
}
#mobileButton {
    filter: invert(64%) sepia(11%) saturate(5402%) hue-rotate(167deg) brightness(104%) contrast(105%);
    cursor: pointer;
    height: 40px;
    margin-right: 1em;
    display: none;
    transition: filter .3s ease-in;
}
#mobileButton:hover {
    filter: invert(100%);
}

#navBarContainer {
    background-color: var(--main-accent-color);
    padding: 16px;
    border-bottom: 4px solid white;
}
#navBar {
    max-width: var(--nav-width);
    margin: auto;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 4px;
}
#navBar a {
    text-decoration: none;
    color: white;
    transition: color .3s ease-in;
}
#navBar a:hover {
    color: #277fff;
}

#menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/* 
@media screen and (max-width: 600px) {
    #navBarContainer {
        padding: 10px;
    }
    #mobileButton {
        display: block;
    }
    #menu {
        flex-direction: column;
    }
    #navBar a {
        margin: 12px;
        font-size: 16px;
    }
} */