{% extends "layout.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/profile.css')}}"></link>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/about.css')}}"></link>

    <style>
        #container {
            max-width: 1200px;
        }
        table {
            width: 100%;
            table-layout: fixed;
            border-collapse: collapse;
        }
        #animeList {
            text-align: center;
        }

        /* table spacing */
        /* .animeRow th:nth-child(1) {
            width: calc(1/24 * 100%);
        } */
        .animeRow th:nth-child(1) {
            width: calc(2/24 * 100%);
        }
        .animeRow th:nth-child(2) {
            width: calc(15/24 * 100%);
        }
        .animeRow th:nth-child(3) {
            width: calc(2/24 * 100%);
        }
        .animeRow th:nth-child(4) {
            width: calc(3/24 * 100%);
        }
        .animeRow th:nth-child(5) {
            width: calc(2/24 * 100%);
        }

        .animeRow th {
            cursor: pointer;
        }
        .animeRow:not(:first-of-type)  {
            height: 52px;
        }
        .animeRow th, .animeRow td {
            padding: 8px;
            font-size: 14px;
            letter-spacing: 2px;
        }
        .animeRow td {
            letter-spacing: 2px;
        }
        .animeRow td:nth-child(2) {
            text-align: left;
            font-weight: bold;
        }
        .animeRow td:nth-child(3) {
            font-weight: bold;
            font-size: 16px;
        }
        .animeRow td:last-child {
            font-weight: bold;
            font-size: 24px;
        }
        .animeRow td:last-child:hover {
            cursor: pointer;
        }
        .animeRow:first-of-type {
            background-color: white;
            color: var(--main-accent-color);
            border-bottom: 4px solid var(--main-accent-color);
        }
        .animeRow:not(:first-of-type):not(:last-of-type) {
            border-bottom: 1px solid white;
        }

        .ignore {
            cursor: default !important;
        }
        .active {
            background-color: var(--main-accent-color);
            border-bottom: 4px solid black;
            color: white;
        }
        .active.ascending {
            border-bottom: 4px solid white !important;
        }
        .watching {
            box-shadow: -5px 0px 0px 0px green inset, 5px 0px 0px 0px green inset;
        }
        .completed {
            box-shadow: -5px 0px 0px 0px blue inset, 5px 0px 0px 0px blue inset;
        }
        .onHold {
            box-shadow: -5px 0px 0px 0px orange inset, 5px 0px 0px 0px orange inset;
        }
        .dropped {
            box-shadow: -5px 0px 0px 0px red inset, 5px 0px 0px 0px red inset;
        }
        .plannedToWatch {
            box-shadow: -5px 0px 0px 0px lightgrey inset, 5px 0px 0px 0px lightgrey inset;
        }
        .poster {
            height: 80px;
        }

        @media screen and (max-width: 800px) {
            
        }
    </style>
    <div id="profileContainer">
        <h1 id="listHeader">ANIMELIST</h1>
        <div id="listContainer">
            <table id="animeList">
                <tbody>
                    <tr id="animeHeaders" class="animeRow">
                        <th id="image" class="ignore">IMAGE</th>
                        <th id="title" class="active ascending">TITLE</th>
                        <th id="score">SCORE</th>
                        <th id="progress">PROGRESS</th>
                        <th id="addEpisode" class="ignore">EP</th>
                    </tr> 
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript">
        let user = "{{ username }}";
    </script>
    <script type="text/javascript" src="{{url_for('static', filename='js/animelist.js')}}"></script>
{% endblock content %}