<footer>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0" nonce="Rf5Z4eoS"></script>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-url="http://hololively.com" data-hashtags="Hololively" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a class="reddit-share-button" href="https://www.reddit.com/submit?url=http://hololively.com"><div><p>Share</p></div></a>
    <div class="fb-share-button" data-href="http://hololively.com" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fhololively.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
</footer>