<nav>
    <div id="navFirst">
        <a id="logoText" title="HoloLively" href="/home/"><img id="logo" src="{{ url_for('static', filename='images/hologo.png')}}">HoloLively</a>
        <img id="mobileButton" src="{{ url_for('static', filename='images/menu.png')}}">
    </div>
    
    <div id="navBarContainer">
        <div id="navBar">
            <div id="menu">
                <a id="home" href="/home/" title="Home">HOME</a>
                <a id="documentation" href="/docs/" title="documentation">DOCUMENTATION</a>
                <a id="api" href="/api/" title="API">API</a>
                <a id="apiEN" href="/api/english" title="English API">EN-API</a>
                <a id="about" href="/about/" title="About">ABOUT</a>
            </div>
        </div>
    </div>
    <script> 
        var mobileUrl = "{{url_for('static', filename='css/mobileNav.css')}}";
    </script>
</nav>
