{% extends "layout.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/settings.css')}}">
    <h1>Settings</h1>
    <div id="settingsContainer">
        <div class="setContainer">
            <p>Accept Cookies</p>
            <label class="switch">
                <input class="switchButton" id="acceptCookies" type="checkbox">
                <span class="slider"></span>
            </label>
        </div>
        <div class="setContainer">
            <p>Live in Nav Bar</p>
            <label class="switch">
                <input class="switchButton cookButton" id="liveInNav" type="checkbox" checked="true">
                <span class="slider"></span>
            </label>
        </div>
        <div class="setContainer">
            <p>Persistent Live</p>
            <label class="switch">
                <input class="switchButton cookButton" id="persistentMode" type="checkbox">
                <span class="slider"></span>
            </label>
        </div>
        <div class="setContainer">
            <p>Dark Mode</p>
            <label class="switch">
                <input class="switchButton cookButton" id="darkMode" type="checkbox" checked="true">
                <span class="slider"></span>
            </label>
        </div>
        <div class="setContainer">
            <p>Time Zone</p>
            <label class="drop">
                <select class="cookButton" id="timeZoneDrop"></select>
            </label>
        </div>
        <div class="setContainer">
            <p>Time Format</p>
            <label class="drop">
                <select class="cookButton" id="languageDrop">
                    <option value="en-us" selected=true>US English</option>
                    <option value="ja-jp">Japanese</option>
                </select>
            </label>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock content %}