{% extends "layout.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/calendar.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/collab.css')}}">
    <div id="calendarContainer"></div>
    <div id="liveContainer" class="noselect">
        LIVE
        <span id="liveButton"></span>
    </div>
    <div id="loadingContainer">
        <img id="loading" src="{{ url_for('static', filename='images/loadingWhite.png') }}">
    </div>
    <div id="dayTemplate" class="dayContainer">
        <h1 class="dayHeader"></h1>
    </div>
    <div id="streamTemplate" class="streamContainer">
        <a class="clickable" target="_blank">
            <div class="topContainer">
                <img class="thumbnail" loading="lazy" onload=checkImage(this)>
                <div class="textContainer">
                    <h2 class="memberName">
                        <img class="avatar" loading="lazy"><span class="mName"></span><span class="liveDot"></span>
                    </h2>
                    <h2 class="streamTime"></h2>
                </div>
            </div>
            <div class="collabContainer"></div>
        </a>
    </div>
    <img id="collabTemplate" class="collabImg" loading="lazy">
    <script>
        let streams = JSON.parse({{ streams | tojson | safe}});
        let memberPhotos = JSON.parse({{ memberPhotos | tojson | safe}});
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/upcoming.js') }}"></script>
{% endblock content %}